<div class = "container">
  <h1>Contact Me</h1>
  <div class = "imformation">
    Tel : +852 51125549
    <div class = "line-break"><p><br/></p></div> 
    Email : timleungyh0224@gmail.com
  </div>
</div>