<div class = "container">
  <div class = "sharing">
  <div class = "header"><h1>Sharing</h1></div>
  <div class = "header"><h2>Learning Web Programming (first 2 weeks)</h2></div>
  Hi, I am Timothy. I have started F5 Works's mentorship programme (Learning Web Programming) in their office for 2 weeks. 
  Before joining the programme, I have a little experience of amending code such as CSS, HTML and JavaScript.
  <div class = "header"><h3>Week 1</h3></div>
  During the first week, I looked into several online courses they provided which helped me to review the basics. I highly recommend 
  <%= link_to "(https://dash.generalassemb.ly)", "https://dash.generalassemb.ly", :target => "_blank" %>. It teaches you coding steps by steps which equips you the basics easily.
  I also built a personal profile website using Bootstrap 4. At the beginning, I didn't know how to start but with the help with my mentor (thank you Vivienne Lam !), it turned out wasn't that difficult. Of course, there are still room for improvement.
  Check out my personal profile website here <%= link_to "(https://xenodochial-bardeen-8f2159.netlify.com)", "https://xenodochial-bardeen-8f2159.netlify.com", :target => "_blank" %>. Welcome for comments !
  <div class = "header"><h3>Week 2</h3></div>
  During the second week, my goal was to build a tic-tac-toe website using JavaScript. I went through w3schools and MDN for the basics then started developing the website. 
  The most difficult part is writing the logic. It took me quite a lot of time to design the logic but then found out it wasn't working. My mentor told me that I made things too complicated so she proposed another way for me to try. Things went better after that refactoring.
  </div>
</div>